*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    background-color: rgb(235, 235, 235);
    font-family: "titillium"; 
    font-size: 17px;
    line-height: 23px;
}
@font-face {
    font-family: "titillium";
    src: url(./TitilliumWeb-SemiBold.ttf);
}
.header__color{
    background-color: #e10600;
    width: 100vw;
    display: flex;
}
.header__fia{
    width: 30px;
    height: 20px;
    margin: 0.2rem;
}
.header__f1{
    margin: 0.3rem ;
    width: 120px;
    
}
.nav__flex{
    display: flex;
    flex-grow: 1 ;
    justify-content: end;
    align-items: center;
}
.header__nav{
    display: flex;
    flex-direction:row;
    justify-content: end;
    align-items: center;

}
a{
    color: white;
    text-decoration: none;
    list-style: none;
    margin-right: 3rem;
    text-transform: uppercase;  
}
.nav__open{
    display: none;
}
.flecha__cierre{
    display: none;
    color: white;
}
.main__pos{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows: 0.1fr 0.7fr 0.7fr;
}
.noticia{
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;

    margin: 2rem;
    align-items: center;

}
.noticia__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    text-decoration: underline;
    align-self: flex-start;
}
.noticia__cuerpo{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;

}
.noticia__img{
    width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.img__camp{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 155);
    width: 100vw;
    padding: 0.5rem;
}
.footer__redes{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;  
}
.footer__redes a{
    padding: 0;
}
.formulario{
    display: flex;
    flex-direction: column;

}
.formulario__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ---------------------------------------- */

.escuderias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.escuderias>div{
    width: 45%;
}
.esc__dis{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    margin: 10px;
    transition: all 400ms ease;
}
.esc__dis img{
    width: 88%;

}
.esc__dis:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

/* ----------------------------------------- */

.pilotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pilotos>div{
    width: 40%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    margin: 15px;
    transition: all 400ms ease;
}
.pil__card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.pil__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pil__card ul{
    align-self:flex-start;
}





/* -------------------------------------------------- */
.cir__cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}



.cir__banner{ 
    grid-column: 1/3;
    grid-row: 1/2;
}
.cir__banner img{
    width: 100%;
align-self: flex-start;

}

.cir__cont p{
    grid-column: 1/2;
    grid-row: 2/3;
}
.cir__data{
    width: 100%;
}





/* --------------------------------------------------- */
.store{
    width: 100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;

}
.store__card{
    width: 31%;
    margin: 8px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.store__card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.store__card img{
    height: 100%;
    width: 200px;
}
.store__card .card__Cont{
    padding: 15px;
    margin: 5px;
    text-align: left;
}

.card__Cont h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card__Cont span{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
}

/* ---------------------------------------- */
@media screen and (max-width:1024px){
    .noticia__cuerpo{
        font-size: small;
    
    }
    .noticia__titulo{
        width: 60%;
    }

}

@media screen and (max-width:768px){
    .header__color{
        width: 100vw;
    }
    .store__card{
        width: 45%;
        overflow: hidden;
    }
    .noticia__titulo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 70%;
    
    }
}

@media screen and (max-width:600px) {
    .header__nav{
        display: none;
        flex-direction: column;
    }
    .nav__open{
        display: block;
        margin-right: 0;
        
    }
    #lateral{
        display: block;
        width: 30%;
        height: 40%;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 100;
        background-color: #e10600;
        transition: right 400ms ;
    }
    #lateral:target{
    right: 0;
    }
    .flecha__cierre{
        display: block;
    }

    .header__f1 {
        display: inline-block;
        position: absolute;
        left: 55%;
        transform: translate(-50%);
        width: 80px;
        margin-top: 0.3rem;
    
    }

    .header__color{
        text-align: center;
        overflow: hidden;
        position: relative;
        z-index: 101;
        height: 2rem;
    }
.footer__redes{
    justify-content: center;
}

.escuderias{
    flex-direction: column;
}
.escuderias>div{
    width: 100%;
}
.main__pos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.3fr  ;
}
.noticia__titulo{
    grid-row:1/2 ;
    grid-column: 1/2 ;
}
.noticia__img{
    grid-row: 2/3 ;
    grid-column: 1/2 ;
}
.noticia__cuerpo{
    grid-row: 3/4 ;
    grid-column: 1/2 ;
}
.img__camp{
    grid-row: 3/4 ;
    grid-column: 1/2 ;


}
}
@media screen and (max-width:425px){
    .pilotos>div{
        width: 100vw;

    
    } 
    .store__card{
        width: 100%;
    }
    .cir__cont{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 0.8fr 0.3fr;
        
    }
    .cir__banner{ 
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .cir__banner img{
        width: 100%;
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 3/4;
    
    }
    
    .cir__cont p{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .cir__data{
        width: 100%;
    }
}