.table__base{
    border: solid rgb(0, 0, 0) 2px;
    border-collapse: collapse;
    background-color: rgb(168, 168, 168);
    width: 150%;
    margin: 20px;

    

}
.table__head{
    border: solid 2px black;
    background-color: grey;
}
.table__body{
    border: solid 2px black;
}
.noticia{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;

}
.noticia__titulo{
    text-decoration: underline;
    margin: 1rem;

}
.noticia__cuerpo{
    flex-wrap: wrap;
    width: 50%;

}
.noticia__img{
    width: 50%;
    height: 50%;}
    .main__pos{
        flex-direction: column;
    }
    .table__base{
        width: 65%;
        margin: 5% 17.5% 0 17.5%;
    }
    .main__pos h2{
        margin: 1% 25% 0 35%;
    }
    
    
    