*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
html {
    background-color: rgb(235, 235, 235);
    font-family: "titillium" ; 
    font-size: 17px;
    line-height: 23px;
}
@font-face {
    font-family: "titillium" ;
    src: url(./TitilliumWeb-SemiBold.ttf) ;
} 
body{
    font-family: "titillium";
}