.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 155);
    width: 100vw;
    padding: 0rem;
}
.footer__redes{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;  
    margin-top: 0.5rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;

}
.formulario__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0.5rem;
}
.jam{
    color: black;
    font-size: 1.6rem;
}