.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 155, 155);
    width: 100vw;
    padding: 0rem;
}
.footer__redes{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;  
a{
    padding: 0;
}}
.formulario{
    display: flex;
    flex-direction: column;

}
.formulario__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}