@media screen and (max-width:1024px){
    .historicos{
        display: flex;
        flex-direction: column;
    }
    .historicos__f1{
    flex-direction: column;
    img{
        width: 100%;
    }
    }
    .historicos__f1_2{
    flex-direction: column;
    img{
        width: 100%;
    }
    }
    
    .header__color{
        margin-bottom: 1rem;

    }
}

@media screen and (max-width:768px){
    .header__nav{
        display: none;
        flex-direction: column;
    }
    .nav__open{
        display: block;
        margin-right: 0;
        
    }
    .header__color{
        width: 100vw;
    }

    .nav__open{
        display: block;
        margin-right: 0;
        
    }
    #lateral{
        display: block;
        width: 30%;
        height: 40%;
        position: fixed;
        top: 0;
        right: -50%;
        z-index: 100;
        background-color: $color-primario;
        transition: right 650ms ;
    }
    #lateral:target{
    right: 0;
    }
    .flecha__cierre{
        display: block;
    }
    .header__f1 {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100px;
        margin-top: 0.8rem;
    
    }
    .header__color{
        text-align: center;
        overflow: hidden;
        position: relative;
        z-index: 101;
    }
    .cir__cont p{
        font-size: 1rem;
    }
}


@media screen and (max-width:600px) {
    .header__nav{
        display: none;
        flex-direction: column;
    }
    .nav__open{
        display: block;
        margin-right: 0;
        
    }
    .header__f1 {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100px;
        margin-top: 0.8rem;
    
    }

    .header__color{
        text-align: center;
        overflow: hidden;
        position: relative;
        z-index: 101;
    }
.footer__redes{
    justify-content: center;
}

.escuderias{
    flex-direction: column;
}
.escuderias>div{
    width: 95%;
}


.cir__banner h3{
font-size: 2rem;
}
.cir__cont{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.5fr 0.8fr 0.3fr;
    
}
.cir__banner{ 
    grid-column: 1/2;
    grid-row: 1/2;
}
.cir__banner img{
    width: 100%;
align-self: flex-start;
grid-column: 1/2;
grid-row: 3/4;

}

.cir__cont p{
    grid-column: 1/2;
    grid-row: 2/3;
}
.cir__data{
    width: 100%;
}
.cir__banner h3{
font-size: 1.8rem;
}
.historicos{
    p{
        font-size: 0.9rem;
    }
}
}

@media screen and (max-width:425px){
    .pilotos>div{
        width: 100vw;

    
    } 
    .store__card{
        width: 100%;
    }
}