.main__pos{
    h2{
        text-align: center;
        margin: 1rem;
    }
}
.historicos{
    &__f1{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        margin: 1rem;
    img{
        width: 45%;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);

    }
    p{
        text-align: center;
        align-self: center;
        font-size: 1.2rem;
        margin: 1rem;
        background-color: $color-terciario;
        border: 1px solid black;
        padding: 0.5rem;
    }
    }
}
.historicos__f1_2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
img{
    width: 45%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
p{
    text-align: center;
    align-self: center;
    font-size: 1.2rem;
    margin: 1rem;
    background-color: $color-terciario;
    border: 1px solid black;
    padding: 0.5rem;
}

}
.historicos__texto{
    text-align: center;
    h3{
        text-decoration: underline ;
        background-color: $color-primario;
        color: $color-secundario;
        p{
            background-color: grey;
        }
    }
}
